<div class="container">
  <div class="page-header">
    <h1>About</h1>
  </div>
  <h3>Terms of Service</h3>
  <p>By using the pool you accept all possible risks related to experimental software usage.<br/>
     Pool owner can't compensate any irreversible losses, but will do his best to prevent worst case.
  </p>
  <h3>Contact</h3>
  <p>
   <ul>
     <li><a href="https://web.telegram.org/#/im?p=u5005760_12775036344924272028" target="_blank">Telegram</a> / daboehlatresh@gmail.com / <a href="https://www.reddit.com/user/daboehla/" target="_blank">DaBoehla@reddit</a></li>
   </ul>
  </p>
  <h3>Details</h3>
  <p>
    <ul>
      <li>Etherbase: <a href="http://gastracker.io/addr/0x2576515da7d091b09d037a0980a243f43d19c58a" target="_blank">0x2576515da7d091b09d037a0980a243f43d19c58a</a></li>
      <li>1% Poolfee: <a href="/#/account/0xb367e94eabe9f1a6e48c4c6ba79852cafdadc8a6">0xb367e94eabe9f1a6e48c4c6ba79852cafdadc8a6</a></li><ul>
      <li>10% donation to sammy007 (Pool development): <a href="/#/account/0xb85150eb365e7df0941f0cf08235f987ba91506a">0xb85150eb365e7df0941f0cf08235f987ba91506a</a></li>
      <li>10% donation to bit_novosti (Etc development): <a href="/#/account/0xe9a7e26bf5c05fe3bae272d4c940bd7158611ce9">0xe9a7e26bf5c05fe3bae272d4c940bd7158611ce9</a></li></ul>
    </ul>
  </p>
</div>
