<div class="container">
  <div class="page-header">
    <h1>Frontend Temporarily Down</h1>
    <p>Usually it's just a temporal JSON-API issue and mining is not affected. Keep calm and drink Jack Daniels.</p>
  </div>
</div>
