<div class="container">
  <div class="page-header">
    <h1>How To Mine</h1>
  </div>

  <h4>Stratum Mining with Stratum Proxy for Ethereum</h4>
  <p class="lead">Grab proxy from <a href="https://github.com/Atrides/eth-proxy" re="nofollow" target="_blank">eth-proxy GitHub repo</a>.</p>
  <p class="lead">Edit <code>eth-proxy.conf</code> and specify our pool's <code>HOST: etc-de.ethteam.com</code> or <code>etc-us.ethteam.com</code>, <code>PORT: {{config.StratumPort}}</code> and your <code>WALLET</code>.</p>

  <h4>Mining with Ether-Proxy</h4>
  <p class="lead">Use stable release of <a href="https://github.com/sammy007/ether-proxy/releases" target="_blank">Ethereum Solo/Pool Mining Proxy</a>.</p>

  <h4>Terms of Service</h4>
  <p>By using the pool you accept all possible risks related to experimental software usage.<br/>
     Pool owner can't compensate any irreversible losses, but will do his best to prevent worst case.
  </p>
</div>
