<div class="container">
  <div class="page-header">
    <h1>Features</h1>
  </div>

  <h3>Start Bundle</h3>
  <p>
   All you need to start mining:  <a href="http://ethteam.com/download/EtcStartBundle.zip"  target="_blank">EtcStartBundle.zip</a> 
  </p>

  <h3>Personal payout threshold</h3>
  <p>
   To set the payout threshold level you have to <a href="/#/about">contact</a> me with our desire amount, account id and miner ip address.
  </p>

  <h3>Notification</h3>
  <p>
   For offline miner and payout notification you can use the Telegram bot:  <a href="https://web.telegram.org/#/im?p=@EtcTeam_bot"  target="_blank">@EtcTeam</a>
  </p>

  <h3>PPLNS block reward</h3>
  <p>
   There is no way to cheat the pool.
  </p>
</div>
