<div class="container">
  <div class="page-header">
    <h1>No Account Data Available</h1>
    <p>If you are looking for your account stats, you need to submit at least a single share.</p>
  </div>
</div>
